body {
  margin: 1%;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  padding-left: 10px;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: black;
}

header {
  height: 50px;
  width: 100%;
  border-bottom: 1px dotted;
}

#logout-form {
  display: inline-block;
}

#logout-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.error-li {
  color: red;
}

.full-container {
  background: #ccffff;
  border: 1px solid #00e6e6;
  height: 400px;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
}

.search-contain {
  background: #ccffff;
  border: 1px solid #00e6e6;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
  width: 40%;
}

#new-location {
  margin-top: 20px;
}
