<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/app.js"></script>

  <title>SkyCast</title>

  <script src="//www.google.com/jsapi"></script>

</head>
<body>
  <header>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><a href="/users/<%= current_user.id %>"><%= current_user.email %></a></li>
          <li>
            <form id="logout-form" action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input id="logout-button" type="submit" value="logout" />
            </form>
          </li>
        <% else %>
          <li><a href="/users/new">register</a></li>
          <li><a href="/sessions/new">login</a></li>
        <% end %>
        <li><a href="/locations/new">search</a></li>
      </ul>
    </nav>
    <div class="layout-header">
      <h1>SkyCast Inc.</h1>
    </div>
  </header>
  <%= yield %>
</body>
</html>
