<%= erb :'_errors' %>

<form id="new-location" action="/locations" method="post">
  <div id="input-button-contain">
    <div class="new-location-input">
      <input type="text" name="location[address]" placeholder="Enter Location">
    </div>
    <div class="submit-button">
      <input type="submit" value="Get Weather">
    </div>
  </div>
</form>
